<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<script src="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/3.18.2/adyen.js"></script>
<link rel="stylesheet" href="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/3.18.2/adyen.css">

<div id="dropin-container"></div>
<script>
    const orderId = '${input.orderId}';
    const referenceId = '${input.referenceId}';
    const amount = '${input.amount}';
    const resultURL = '${input.resultURL}/${input.referenceId}';
    const contentLanguage = '${input.languageCode}-${input.countryCode}';
    const submitApiUrl = '${input.submitURL}';
    const submitCompleteApiUrl = '${input.submitCompleteURL}';
    const authorization = localStorage.getItem('o-auth-token') || localStorage.getItem('Authorization') || '';
    const customerSessionId = localStorage.getItem('guest-customer-session-id') || localStorage.getItem('Customer-session-id') || '';
    const paymentMethodsResponse = JSON.parse('${input.responseBody}'.replaceAll('&quot;', '"'));
    const clientKey = '${vars.clientKey}';
    const environment = 'test';
    const paymentFormTitle = '${vars.paymentFormTitle}';


    function makePayment(data) {
        const additionalData = [
            {'key': 'paymentMethod', 'value': data.paymentMethod},
            {'key': 'returnUrl', 'value': resultURL},
            {'key': 'allow3DS2', 'value': true}
        ];
        const submitBody = {
            'paymentMethod': 'CREDIT_CARD',
            'channel': 'BROWSER',
            'amount': amount,
            'orderId': orderId,
            'upscalePaymentSessionID': referenceId,
            'browserInfo': data.browserInfo,
            'additionalData': additionalData
        }
        return $.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            url: submitApiUrl,
            headers: {
                'Content-Language': contentLanguage,
                'Authorization': authorization,
                'Customer-session-id': customerSessionId
            },
            data: JSON.stringify(submitBody)
        });
    }

    function makeDetailsCall(data) {
        const additionalData = [
            {'key': 'paymentData', 'value': data.paymentData || ''},
            {'key': 'threeds2_fingerprint', 'value': data.details['threeds2.fingerprint'] || ''},
            {'key': 'threeds2_challengeResult', 'value': data.details['threeds2.challengeResult'] || ''},
            {'key': 'MD', 'value': data.details.MD || ''},
            {'key': 'PaRes', 'value': data.details.PaRes || ''}
        ];
        const submitCompleteBody = {
            'upscalePaymentSessionID': referenceId,
            'additionalData': additionalData
        }
        return $.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            url: submitCompleteApiUrl,
            headers: {
                'Content-Language': contentLanguage,
                'Authorization': authorization,
                'Customer-session-id': customerSessionId
            },
            data: JSON.stringify(submitCompleteBody)
        });
    }

    function showFinalResult(response) {
        if (response) {
            console.log(response);
        }
    }

    function createPaymentConfiguration(paymentMethodsResponse) {
        return {
            paymentMethodsResponse: paymentMethodsResponse, // The `/paymentMethods` response from the server.
            clientKey: clientKey, // Web Drop-in versions before 3.10.1 use originKey instead of clientKey.
            locale: contentLanguage,
            environment: environment,
            onSubmit: (state, dropin) => {
                // Your function calling your server to make the `/payments` request
                makePayment(state.data)
                    .then(response => {
                        if (response.action) {
                            // Drop-in handles the action object from the /payments response
                            dropin.handleAction(response.action);
                        } else {
                            // Your function to show the final result to the shopper
                            showFinalResult(response);
                        }
                    })
                    .catch(error => {
                        throw Error(error);
                    });
            },
            onAdditionalDetails: (state, dropin) => {
                // Your function calling your server to make a `/payments/details` request
                makeDetailsCall(state.data)
                    .then(response => {
                        if (response.action) {
                            // Drop-in handles the action object from the /payments response
                            dropin.handleAction(response.action);
                        } else {
                            // Your function to show the final result to the shopper
                            showFinalResult(response);
                        }
                    })
                    .catch(error => {
                        throw Error(error);
                    });
            },
            paymentMethodsConfiguration: {
                card: { // Example optional configuration for Cards
                    hasHolderName: true,
                    holderNameRequired: true,
                    enableStoreDetails: true,
                    hideCVC: false, // Change this to true to hide the CVC field for stored cards
                    name: paymentFormTitle,
                    billingAddressRequired: false
                }
            }
        };
    }

    configuration = createPaymentConfiguration(paymentMethodsResponse);
    checkout = new AdyenCheckout(configuration);
    dropin = checkout.create('dropin').mount('#dropin-container');
</script>